/* ========== HEADER ========== */
header.top-bar {
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
    font-family: 'Inter', sans-serif;
    padding: 1rem 0;
}

header .containerHead {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.75rem;
    color: #000;
}

.logo-link img {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-weight: 700;
    font-size: 1.5rem;
}

/* Navigation buttons */
.nav-links {
    display: flex;
    gap: 0.75rem;
}

.nav-links a {
    display: inline-block;
    text-decoration: none;
    padding: 0.4rem 0.9rem;
    font-weight: 500;
    font-size: 0.95rem;
    border-radius: 6px;
    transition: background-color 0.2s ease;
    border: 1px solid transparent;
}

/* Синие кнопки */
.nav-links a.blue-button {
    background-color: #3b82f6; /* синий */
    color: white;
}

.nav-links a.blue-button:hover {
    background-color: #2563eb;
}

.nav-links a.white-button {
    background-color: white;
    color: #374151;
    border: 1px solid #cbd5e1;
}

.nav-links a.white-button:hover {
    background-color: #f3f4f6;
}

/* ========== FOOTER ========== */
footer.footer {
    background-color: #111111;
    border-top: 2px solid #e5e7eb;
    font-family: 'Inter', sans-serif;
    padding: 2rem 2rem;
}


footer .footer p {
    font-size: 1rem;
    color: #3232d7;
}

footer .social-icons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: right;
    gap: 1.25rem;
}

footer .social-icons img {
    width: 24px;
    height: 24px;
}


