html, body {
    margin: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #f9f9f9;
    color: #111;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    max-width: 600px;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Spacing of Form Items */
.booking-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Spacing of Items belonging to one form Group */
.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Multiple Form Groups in a row */
.formGroupRow {
    display: flex;
    gap: 1rem;
}
.formGroupRow div {
    flex: 1;
}

label {
    font-weight: 500;
}

input, textarea {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.submit-btn {
    flex: 1;
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.cancel-btn {
    flex: 0;
    background-color: #f3f4f6;
    color: #111;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}

.loader {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border: 6px solid #e0e0e0;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.dateSelectorHeader {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    gap: 10px;
    background-color: #D4EBFF;
    border-radius: 10px 10px 0 0;
}

.dateSelectorRow {
    display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}

.dateSelectorRow div {
    width: 2rem;
    height: 2rem;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #D4EBFF;
}

.dateSelectorRow div:hover {
    background-color: #85c4fb;
}